{% extends "base.html" %}

{% block announce %}
<!-- Welcome to <strong>Cloask | Return</strong> Home &nbsp; <a href="https://phpbb.itycu.cn" target="_blank" rel="noopener noreferrer">PHPBB 社区</a>正式对外开放啦！ -->

{% endblock %}

{% block content %}
{{ super() }}
{% endblock %}


{% block scripts %}
<!-- Add scripts that need to run before here -->
{{ super() }}
<!-- Add scripts that need to run afterwards here -->
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3907145727941275"
     crossorigin="anonymous"></script>
<script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
{% endblock %}